<div class="grid">
  <div class="section">
    <div class="section__header">
      <h2 class="section__header-title">Your claims</h2>
      <span class="section__header-divider"></span>
    </div>

    <div class="section__body">
      <p>These are wishes you have claimed.</p>

      <table class="table">
        <tr>
          <th class="text-l">Person</th>
          <th class="text-l" colspan="2">Product</th>
        </tr>
        <tr>
          <td>Jane Doe</td>
          <td>Mario Party (Nintendo Switch)</td>
          <td class="table__column-action text-r">
            <a href="https://www.elkjop.no/product/gaming/spill/spill-nintendo-switch/SWISUPERMARP/super-mario-party-switch" target="_blank">
              <i class="fas fa-link"></i>
            </a>
            <a href="/wish/1/delete">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>Apple TV (4th gen.)</td>
          <td class="table__column-action text-r">
            <a href="https://www.elkjop.no/product/smarte-hjem/taleassistent-smart-multimedia/APPLEMR912HYA/apple-tv-32-gb" target="_blank">
              <i class="fas fa-link"></i>
            </a>
            <a href="/wish/2/delete">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>