<div class="grid">
  <div class="section">
    <div class="section__header">
      <h2 class="section__header-title">Welcome</h2>
      <span class="section__header-divider"></span>
    </div>

    <div class="section__body">

      <div class="grid grid--s3">

        <a href="/list" class="card card--has-cover text-c">
          <div class="card__cover">
            <i class="fas fa-list-alt"></i>
          </div>
          <div class="card__body">My List</div>
        </a>

        <a href="/claims" class="card card--has-cover text-c">
          <div class="card__cover">
            <i class="fas fa-check-square"></i>
          </div>
          <div class="card__body">My Claims</div>
        </a>

        <a href="/people" class="card card--has-cover text-c">
          <div class="card__cover">
            <i class="fas fa-users"></i>
          </div>
          <div class="card__body">Other People</div>
        </a>
      </div>
    </div>
  </div>
</div>