<div class="grid">
  <div class="section">
    <div class="section__header">
      <h2 class="section__header-title">Your wishes</h2>
      <span class="section__header-divider"></span>
    </div>

    <div class="section__body">

      <div class="toolbar">
        <p>These are your wishes.</p>
        <a class="btn btn--p" href="/wish/new"><i class="fas fa-plus"></i> Add a wish</a>
      </div>

      <table class="table">
        <tr>
          <th class="text-c"></th>
          <th class="text-l" colspan="2">Product</th>
        </tr>
        <tr>
          <td class="table__data--small text-c"><i class="fas fa-star"></i></td>
          <td>Mario Party (Nintendo Switch)</td>
          <td class="table__column-action text-r">
            <a href="https://www.elkjop.no/product/gaming/spill/spill-nintendo-switch/SWISUPERMARP/super-mario-party-switch" target="_blank">
              <i class="fas fa-link"></i>
            </a>
            <a href="/wish/1/done">
              <i class="fas fa-check"></i>
            </a>
            <a href="/wish/1/edit">
              <i class="fas fa-pencil-alt"></i>
            </a>
            <a href="/wish/1/delete">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td class="table__data--small text-c"></td>
          <td>Apple TV (4th gen.)</td>
          <td class="table__column-action text-r">
            <a href="https://www.elkjop.no/product/smarte-hjem/taleassistent-smart-multimedia/APPLEMR912HYA/apple-tv-32-gb" target="_blank">
              <i class="fas fa-link"></i>
            </a>
            <a href="/wish/2/done">
              <i class="fas fa-check"></i>
            </a>
            <a href="/wish/2/edit">
              <i class="fas fa-pencil-alt"></i>
            </a>
            <a href="/wish/2/delete">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>