<div class="grid">
  <div class="section">
    <div class="section__header">
      <h2 class="section__header-title">People</h2>
      <span class="section__header-divider"></span>
    </div>

    <div class="section__body">
      <div class="toolbar">
        <p>These are your friends &amp; family.</p>
        <a class="btn btn--p" href="/people/add"><i class="fas fa-user-plus"></i> Invite</a>
      </div>

      <table class="table">
        <tr>
          <th class="text-l" colspan="2">Name</th>
        </tr>
        <tr>
          <td>
            <a href="/user/1">Jane Doe</a>
          </td>
          <td class="table__column-action text-r">
            <a href="/user/1/remove"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/user/2">Sylvia Doe</a>
          </td>
          <td class="table__column-action text-r">
            <a href="/user/2/remove"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/user/3">Samuel Doe</a>
          </td>
          <td class="table__column-action text-r">
            <a href="/user/3/remove"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>